@font-face {
    font-family: "Inconsolata";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inconsolata-Regular"), url("../../fonts/Inconsolata-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Inconsolata";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inconsolata-Bold"), url("../../fonts/Inconsolata-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter-Regular"), url("../../fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter-Bold"), url("../../fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lora-Regular"), url("../../fonts/Lora-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lora-BoldItalic"), url("../../fonts/Lora-BoldItalic.ttf") format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lora-Bold"), url("../../fonts/Lora-Bold.ttf") format("ttf");
}