@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: BoxSizing();
}

body {
  min-height: 100vh;
  font-family: $default-font, sans-serif;
  box-sizing: BoxSizing();
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;

  &:hover {
    color: $orange !important;
  }
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  background-color: $orange;
  color: $white;
  padding: $font-size-lg;
  border-radius: $font-size-sm;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;
}
