// typography
$default-font: "Kumbh Sans";

$font-size-xxs: 4px;
$font-size-xs: 8px;
$font-size-sm: 10px;
$font-size-md: 12px;
$font-size-lg: 16px;
$font-size-xl: 24px;
$font-size-xxl: 48px;

$font-weight-normal: 400;
$font-weight-bold: 700;

// color
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// media queries
$desktop-breakpoint: 1400px;
$mini-desktop-breakpoint: 1200px;
$laptop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 575px;
$mobile-sm-breakpoint: 420px;
$mobile-xs-breakpoint: 360px;
