@include sm{
    .form{
        &__label{
            margin-top: $rm-1;
        }
        &__input{
            margin-bottom: $rm-1;
        }
        &__btn{
            font-size: $rm-0-75;
        }
    }
}