.success{
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        width: 22vw;
        height: 50vh;
        background-color: $white;
        border-radius: $rm-1-5;
        padding: $rm-2;
        @include flex-box(space-around,flex-start,column);
    }

    &__info{
        height: 100%;
        @include flex-box(space-around,flex-start,column);
    }

    &__title{
        font-size: $rm-2-5;
        color: $dark-slate-grey;
    }

    &__subtitle{
        font-size: $rm-0-75;
        max-width: 40ch;
        line-height: 1.2rem;
        margin-bottom: $rm-1;
    }

    &__btn{
        @include button();
        padding: $rm-0-5 $rm-1-5;
    }
}