.nav {
  &__icon {
    margin-inline: $rm-1;
    cursor: pointer;
  }
  &__logo {
    width: 5rem;
    height: $rm-1;
    cursor: pointer;
  }
  &__profile {
    width: 1.75rem;
    height: 1.75rem;
    margin-inline: $rm-1;
    cursor: pointer;
  }
  &__cart {
    position: relative;
    cursor: pointer;
    &__item {
      margin-top: $rm-0-5;
    }
    &__count {
      position: absolute;
      inset: -.2rem auto auto 1rem;
      background-color: $orange;
      color: $white;
      border-radius: 0.7rem;
      padding: 0 0.2rem;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
}
