@mixin layout() {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

@mixin flex-box($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button() {
  all: unset;
  @include layout();
  font-family: inherit;
  padding: $rm-1 $rm-1-5;
  background-color: $dark-slate-grey;
  border-radius: $rm-0-5;
  color: $white;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: $tomato;
    transition: .3s;
  }
}
