// imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// colors
$clr-blue: hsl(237, 63%, 64%);
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

// font-size
$font-size-xxs: 4px;
$font-size-xs: 8px;
$font-size-sm: 10px;
$font-size-md: 12px;
$font-size-lg: 14px;
$font-size-xl: 24px;
$font-size-xxl: 48px;

// defaults
$default-font: "Montserrat";
$default-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

// screen breakpoints
$desktop-breakpoint: 1400px;
$mini-desktop-breakpoint: 1200px;
$laptop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 575px;
$mobile-sm-breakpoint: 420px;
$mobile-xs-breakpoint: 360px;
