header {
  nav {
    padding: $font-size-sm;
    @include flexBox();
    box-shadow: $default-shadow;
  }

  .left,
  .right {
    @include flexBox();
  }

  .left {
    .menu-icon {
      margin-right: $font-size-sm;
      cursor: pointer;
    }
  }

  .right {
    .avatar {
      margin-left: $font-size-sm;
    }
  }

  .sidebar-wrapper {
    .sidebar {
      transition: all 0.3s;
      position: absolute;
      inset: 5rem auto auto 0;
      background-color: $white;
      box-shadow: $default-shadow;
      min-height: 100vh;
      width: 30%;
      padding: $font-size-xxl $font-size-sm;

      .close-icon {
        margin-right: $font-size-sm;
      }

      .routes {
        margin-top: -1rem;
        li {
          margin-bottom: $font-size-xl;
          a {
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}
