.news {
  margin-block: $rm-2;
  background-color: $very-dark-blue;
  color: $off-white;
  padding: $rm-1 $rm-2;
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: $rm-1-5;
    color: $soft-orange;
    font-weight: 700;
    margin-top: $rm-1;
  }
  &__content {
    margin-block: $rm-1;
    &__title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-block: $rm-1;
    }
    &__subtitle {
      max-width: 35ch;
      font-size: 0.9rem;
      color: $grayish-blue;
    }
  }
}
