@include sm{
    .content{
        width: 90% !important;
        &__phonetic{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &__item{
                display: inline-block;
                margin-bottom: $rm-0-5;
            }
        }
        &__part{
            display: flex;
            flex-wrap: wrap;
            gap: $rm-0-5;
        }
    }
}