.expenses-chart {
  width: 95vw;

  .top-header {
    .content {
      padding: $font-size-lg $font-size-xs;
      margin-inline: $font-size-xs;
    }
  }

  .chart-wrapper {
    background-color: $color-white;
    border-radius: $default-radius;

    .footer {
      padding: $font-size-md;
    }
  }

  // ===================== Media Queries =================
  @media screen and (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
    width: 50vw;
  }

  @media screen and (min-width: $laptop-breakpoint) {
    width: 30vw;
  }
}
