///////////////////////////////////////////////////// cards
.card {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em !important;
  border-radius: $small-border-radius;
}

///////////////////////////////////////////////////// Statistics section
.statistic {
  &__card {
    border: 1px solid $color-stroke;
    border-radius: $small-border-radius;
    width: 16%;
    height: 260px;
    margin-bottom: 26px;
    &--width-sideBar {
      width: 15% !important;
    }
    &--transaction--with-sideBar {
      width: 35% !important;
    }
  }
  &__select {
    width: 80%;
    margin-inline: auto;
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
  }
}

/////////////////////////////////////////////////// inputs
.input {
  border: 1px solid $color-stroke;
  border-radius: $medium-border-radius;
  color: $color-text-primary;
  height: 48px !important;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    border-color: $color-black;
  }
  &:focus {
    border-color: $color-primary !important;
  }
  &::placeholder {
    color: $color-text-primary;
  }
}

.inputIcon {
  background-image: url('/public/svgs/search-gray.svg');
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 96%;
}

/////////////////////////////////////////////////// accordion
.accordionFrame {
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  border-radius: $small-border-radius;
  border: 1px solid $color-stroke;
}

/////////////////////////////////////////////////// search input
.searchInput {
  background-image: url('/svgs/search.svg');
  background-position: 97% 13px;
  background-size: 20px;
  background-repeat: no-repeat;
}

///////////////////////////////////////////////// authentication layout
.authCard {
  box-shadow: $default-shadow;
  background-color: $color-white;
  padding: 48px;
  border-radius: $small-border-radius;
  width: 450px;
  @include flexBox(center, center, column);
  z-index: 99999;
}

.authWrapper {
  background-image: url('/svgs/authBg.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
  @include flexBox(center, center, row);
}

/////////////////////////////////////////////// google authentication layout
.googleAuthCard {
  width: 780px;
  height: 100%;
  padding: 48px;
}

.googleAuthWrapper {
  background-image: url('/svgs/authBg.svg');
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

/////////////////////////////////////////////// table classes
thead {
  background-color: $element-bg;
}

table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: 0;
  border-spacing: 0;
  width: 100% !important;
}

td {
  color: $color-text-primary;
}

///////////////////////////////////////////// table dropdowns
.table {
  &__dropDown {
    &__item {
      width: 12rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        color: #000 !important;
      }
    }
  }
}

///////////////////////////////////////// buttons with icons
.icon-button {
  width: 48px !important;
  height: 48px !important;
  & i {
    font-size: 20px !important;
  }
}

/////////////////////////////////////// dropdowns
.dropdown {
  &__icon {
    color: $color-secondary;
    font-size: 20px;
    cursor: pointer;
  }
  &__tab {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & i {
      font-size: 20px;
    }
  }
}
