// fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");

// colors
$marine-blue: hsl(213, 96%, 18%);
$color-primary: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

// neutral colors
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$color-white: hsl(0, 0%, 100%);

// status colors
$color-success: #28c76f;
$color-danger: #ea5455;
$color-warning: #ff9f43;
$color-info: #00cfe8;

// text colors
$color-text-primary: #636578;
$color-text-secondary: #9495a2;

// font sizes
$font-size-xxl: 36px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

//  font weights
$font-weight-light: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// screen breakpoints
$desktop-breakpoint: 1400px;
$mini-desktop-breakpoint: 1200px;
$laptop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 575px;
$mobile-sm-breakpoint: 420px;
$mobile-xs-breakpoint: 360px;

// box shadow
$sidebar-shadow: 0px 2px 5px #ababab;
$default-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$table-shadow: -2px 0px 5px rgba(33, 35, 38, 0.1);

// border radius
$large-border-radius: 16px;
$medium-border-radius: 8px;
$small-border-radius: 6px;

// other default styles
$default-font-family: "Ubuntu";
