.navbar {
  @include FlexBox();
  padding: $font-size-md $font-size-sm;

  .left,
  .right {
    @include FlexBox(center, center, row);

    img {
      cursor: pointer;
    }
  }

  .left {
    img {
      &:nth-child(1) {
        margin-right: $font-size-sm;
      }

      &:nth-child(2) {
        width: 4rem;
      }
    }
  }

  .right {
    img {
      &:nth-child(1) {
        margin-right: $font-size-sm;
      }

      &:nth-child(2) {
        width: 2rem;
      }
    }
  }
}
