.navbar {
  @include FlexBox();
  padding: $font-size-md $font-size-sm;

  .left,
  .right {
    @include FlexBox(center, center, row);

    img {
      cursor: pointer;
    }
  }

  .left {
    img {
      &:nth-child(1) {
        margin-right: $font-size-sm;
      }

      &:nth-child(2) {
        width: 4rem;
      }
    }

    .route-list {
      margin-left: $font-size-xl;
      @include FlexBox(flex-start, center, row);

      li {
        font-size: $font-size-sm;

        a {
          color: $dark-grayish-blue;
        }

        &:not(:last-child) {
          margin-right: $font-size-sm;
        }
      }
    }
  }

  .right {
    img {
      &:nth-child(1) {
        margin-right: $font-size-sm;
      }

      &:nth-child(2) {
        width: 2rem;
      }
    }
  }

  // ============ Media Queries ===============
  @media screen and (min-width: $tablet-breakpoint) {
    position: relative;
    margin-bottom: $font-size-xl;

    &::after {
      content: "";
      position: absolute;
      inset: auto auto -0.1rem 0;
      width: 100%;
      border-bottom: 1px solid $grayish-blue;
    }
  }
}
