.navbar {
  @include FlexBox();
  padding: $font-size-md $font-size-sm;

  .left,
  .right {
    @include FlexBox(center, center, row);

    img {
      cursor: pointer;
    }
  }

  .left {
    img {
      &:nth-child(1) {
        margin-right: $font-size-sm;
      }

      &:nth-child(2) {
        width: 4rem;
      }
    }

    .route-list {
      margin-left: $font-size-xl;
      @include FlexBox(flex-start, center, row);

      li {
        font-size: $font-size-sm;

        a {
          color: $dark-grayish-blue;
        }

        &:not(:last-child) {
          margin-right: $font-size-sm;
        }
      }
    }
  }

  .right {
    .shop-icon {
      position: relative;

      span {
        font-size: $font-size-sm;
        display: block;
        position: absolute;
        inset: 2px auto auto 10px;
        background-color: $orange;
        color: $white;
        width: 1rem;
        @include FlexBox(center, center, row);
        border-radius: 10px;
        z-index: 9999999;
        font-weight: $font-weight-bold;
      }

      .el-icon {
        cursor: pointer;
        margin-right: $font-size-sm;
        font-size: $font-size-xl;
        transform: translateY(6px);
      }
    }

    img {
      &:nth-child(2) {
        width: 2rem;
        border: 2px solid transparent;
        border-radius: 50%;

        &:hover {
          border-color: $orange;
        }
      }
    }
  }

  // ============ Media Queries ===============
  @media screen and (min-width: $tablet-breakpoint) {
    position: relative;
    margin-bottom: $font-size-xl;

    &::after {
      content: "";
      position: absolute;
      inset: auto auto -0.1rem 0;
      width: 100%;
      border-bottom: 1px solid $grayish-blue;
    }
  }
}
