@include sm{
    .result{
        width: 100%;
        border-radius: 0 0 $rm-2 $rm-2;

        &__num{
            width: 7rem;
            height: 7rem;
            margin-block: $rm-2;
            &__up{
                font-size: $rm-2;
            }
        }

        &__status{
            margin-bottom: $rm-1;
        }
    }
}