.result{
    background-image: $background-clr;
    width: 50%;
    height: 100%;
    border-radius: $rm-1;
    padding: $rm-2;
    color: $light-lavender;
    @include flex-box(space-around, center, column);
    
    &__num{
        width: 10rem;
        height: 10rem;
        background-color: $violet-blue;
        border-radius: 50%;
        @include flex-box(center, center, column);
        &__up{
            font-size: $rm-3;
            color: $white;
            font-weight: bold;
        }
    }

    &__subtitle{
        max-width: 25ch;
        text-align: center;
    }

    &__status{
        font-weight: 700;
        font-size: 1.2rem;
    }
}