.swiper {
  margin-top: 4rem;
  height: 50% !important;
  z-index: 1 !important;
  position: relative;
  &__cart{
    position: absolute;
    inset: 2rem auto auto 0;
    z-index: 999999;
    width: 100%;
  }
}

.mdi-chevron-right {
  background-image: url("/images/icon-next.svg") !important;
  position: absolute;
  inset: $rm-1 0.3rem auto auto;
}

.mdi-chevron-left {
  background-image: url("/images/icon-previous.svg") !important;
  position: absolute;
  inset: $rm-1 auto auto $rm-1;
}
