@include lg{
    .product{
        z-index: 1 !important;
        width: 45%;
        margin-block: auto;
        &__title{
            font-size: $rm-2;
        }
        &__description{
            margin-block: $rm-1;
            max-width: 50ch;
            line-height: 1.3rem;
        }
        &__price{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: $rm-1;
            &__right{
                display: block;
                margin-top: $rm-0-5;
            }
            &__before{
                font-size: $rm-0-75;
            }
        }
        &__count{
            width: 35%;
        }
        &__btn{
            width: 60%;
            margin-left: $rm-0-5;
        }
        &__btns{
            display: flex;
            align-items: center;
        }
    }
}