.product{
    padding: $rm-1;
    font-weight: 700;
    &__name{
        text-transform: uppercase;
        color: $orange;
        letter-spacing: .3rem;
    }
    &__title{
        margin-block: $rm-1;
    }
    &__description{
        max-width: 40ch;
        font-size: $rm-0-75;
        color: $dark-grayish-blue;
        margin-bottom: $rm-1;
        font-weight: 500;
    }
    &__price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__discount{
            background-color: $pale-orange;
            border-radius: $rm-0-5;
            padding: .2rem;
            color: $orange;
            margin-left: $rm-1
        }
        &__before{
            color: $dark-grayish-blue;
            text-decoration: line-through;
        }
    }
    &__count{
        @include button($light-grayish-blue, 100%);
        margin-block: $rm-1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        @include button($orange, 100%);
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon{
            margin-right: $rm-0-5;
        }
    }
}