.home-page {
  min-height: 100vh;
  @include FlexBox(flex-start, center, column);

  .title {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    color: $grayish-blue;
    font-size: calc($font-size-xl + $font-size-sm);
  }

  .plans-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 3rem;

    @media screen and (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
      width: 700px;
    }

    @media screen and (min-width: $laptop-breakpoint) {
      width: 1000px;
    }
  }
}
