$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);


$rm-0-5: .5rem;
$rm-0-75: .75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-2-5: 2.5rem;
$rm-3: 3rem;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;
$screen-sm-max: 1280px;


// desktops
$screen-lg-min: 1281px;