@include md {
  .post {
    &__info {
      width: 25rem;
      height: 10rem;
      margin-left: $rm-2-5;
      margin-block: auto;
    }
    &__count {
      font-size: $rm-1-5;
    }
    &__title {
      font-size: $rm-1;
      margin-block: $rm-1-5;
    }
    &__subtitle {
      font-size: $rm-1;
    }
  }
}
