@include lg {
  .post {
    margin-top: $rm-3;
    display: grid;
    grid-template-columns: repeat(auto-fill, 22rem);
    grid-gap: $rm-1;
    &__subtitle {
      font-size: $rm-0-75;
      max-width: 25ch;
    }
  }
}
