@include lg {
  .landing {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $rm-2;
    &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: $rm-1;
      &__left {
        &__title {
          font-size: $rm-3;
          font-weight: 700;
          max-width: 10ch;
        }
      }
      &__right {
        width: 45%;
        &__subtitle {
          line-height: 1.9rem;
          margin-block: $rm-1-5;
          color: $dark-grayish-blue;
        }
      }
    }
    &__btn {
      margin-top: $rm-3;
    }
    &__news {
      margin-left: $rm-1;
    }
  }
}
