.chart {
  border-radius: $default-radius;
  padding: $font-size-lg $font-size-sm;
  margin-top: $font-size-lg;
  margin-inline: $font-size-sm;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    inset: auto auto 0 0;
    border-bottom: 1px solid $cream;
  }

  h4 {
    font-size: $font-size-lg;
    color: $dark-brown;
  }

  .chart-item {
    @include flexBox(space-between, stretch, row);
    margin-top: calc($font-size-xl + $font-size-sm);

    .wrapper {
      @include flexBox(flex-end, center, column);

      .column {
        padding: 2px;
        width: 40px;
        border-radius: $font-size-xxs;
        background-color: $soft-red;
        cursor: pointer;
        position: relative;

        .tooltip {
          background-color: $dark-brown;
          color: $color-white;
          font-size: $font-size-md;
          padding: $font-size-xxs;
          border-radius: $font-size-xxs;
          display: inline-block;
          position: absolute;
          inset: -2.2rem auto auto 0;
        }

        &.high-score {
          background-color: $cyan;
        }
      }

      span {
        font-size: $font-size-md;
        color: $medium-brown;
        display: inline-block;
        margin-top: $font-size-xxs;
      }
    }
  }

  // ===================== Media Queries =================
  @media screen and (max-width: $mobile-breakpoint) {
    .chart-item {
      .wrapper {
        .column {
          width: 30px !important;
        }
      }
    }
  }
}
